
{{blogs}}
<div>Tech Blog</div>
<div class="blog">{{blogtitle}}
    <section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
    <section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
