
{{blogs}}
<div>Tech Blog</div>
<div class="blog">{{blogtitle}}
    <section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<input class="form-input" type="text" id="blog-title" name="blog-title" />
<input class="form-input" type="text" id="blog-description" name="blog-description" />
<div class="blog">
    <section class="card">
  <input class="form-input" type="text" id="blog-title" name="blog-title" />
<input class="form-input" type="text" id="blog-description" name="blog-description" />
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
<div class="blog">
<section class="card">
  
  {{bloguser}}
</section>{{blogtime}}  
</div>
